a {
	text-decoration: none;
}

#loginForm_1 table,
#loginForm_1 td{
	border:0;
}

.portlet_div_search{
    height: 70px;
}

.portlet_div_sorting{
    float:left;
    width:50%;
}

.portlet_div_paging{
    text-align:right;
    float: right;
    width:50%;
}

#jogetProcessListDiv .portlet_div_sorting{
    width:100%;
}

#jogetProcessListDiv .portlet_div_paging{
    text-align:right;
    width:100%;
}

.portlet_div_search select,
.portlet_div_search input,
.portlet_div_sorting select,
.portlet_div_sorting input,
.portlet_div_paging select,
.portlet_div_paging input{
	font-size:9px;
}

.portlet_label{
    font-size: 9pt;
    font-weight: normal;
}

.portlet_input{
    font: 10px;
}

.portlet_table_list{
    height:80%;
}

.portlet_table_data{
    width: 100%;
    border-top: solid 1px silver;
    padding-bottom: 15px;
}

.portlet_table_number{
    font-size: 10pt;
    padding-right: 10px;
}

.portlet_table_activity_pending{
    font-size: 10pt;
    font-weight: bolder;
}

.portlet_table_activity_accepted{
    font-size: 9pt; 
    font-weight: normal;
}

.portlet_table_date_created{
    float:right;
    font-size: 7pt;
    font-weight: normal;
}

.portlet_table_process{
    font-size: 8pt;
    font-weight: normal;
    padding-left: 22px;
}